* {
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(121, 64, 121);
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(121, 64, 121); */
}

.logo {
    width: 250px;
    height: auto;
}

.header-link-container {
    display: flex;
    justify-content: space-around;
    width: 500px;
    height: auto;
    /* background-color: red; */
}

.header-link {
    text-decoration: none;
    color: gold;
    font-weight: bold;
    letter-spacing: 1px;
}

.landing {
    display: flex;
    justify-content: center;
}

.angus {
    width: 132px;
    height: auto;
}